

.raleway-normal {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
}


/* nav style */

.open-sans-normal{
    background-color: #F5F8FF;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
    padding: 32px 0;
}
.nav-logo{
    color: #4E47FF;
    font-size: 24px;
    font-family: "Raleway";
    font-weight: 700;
}
.banner, .heading-title{
    color: #252432;
    font-family: "Raleway";
    font-size: 65px;
    font-weight: 700;
    font-style: normal;

}

.btn-primari{
    padding: 12px 32px;
    background-color: #4E47FF;
    color: #fff;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    border: 1px solid #4E47FF;
    cursor: pointer;
    
}
.btn-primari:hover{
    background-color: #ffffff;
    color: #4E47FF;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    border: 1px solid #4E47FF;
    border-radius: 8px;
    
}
.header-box{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    
    

}
.banner{
   width: 905px;
   margin: 154px auto 0;
   text-align: center;
   padding-bottom: 80px;
}


/* main-section */
.body-part{
    max-width: 1140px;
    margin: 0 auto;
}
.section-wrapper{
    display: flex;
    justify-content: center;
    padding: 116px 0;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}
.section-title h3{
    font-size: 42px;
    font-family: 'Raleway';
    color: #252432;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 16px;
}
.section-title p{
    font-size: 24px;
    font-family: 'Raleway';
    color: #252432;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 16px;
}
.section-title{
    width: 60%;
}
.section-right-part{
    width: 40%;
}
.section-right-part img{
    width: 100%;
    border-radius: 25px;
}

.section-right-part img{
    
}

/* 2nd section */
.secend-section{
    margin-bottom: 135px;
}
.contant-wrapper h4{
    font-size: 40px;
    color: #252432;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 40px;
}
.contant-wrapper-boxs, .contant-wrapper-items h4{
    font-size: 80px;
    color: #4E47FF;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 4px;
}
.contant-wrapper-boxs, .contant-wrapper-items p{
    font-size: 16px;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
.contant-wrapper{
    background-color: #E5E7FF;
    padding: 50px 80px;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
}
.contant-wrapper-boxs{
    display: flex;
    justify-content: space-around;
}


/* user section */
.user{
    margin-bottom: 80px;
}
.user-box h4{
    font-size: 42px;
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    color: #252432;
    margin-bottom: 20px;
}
.user-box{
    text-align: center;
}
.user-box-item{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}
.user-chaild{
    background-color: #FAFCFF;
    padding: 24px;
    border-radius: 8px;
    text-align: left;
}
.user-chaild h4{
    font-size: 24px;
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    color: #1E1E1E;
    margin: 16px 0 8px 0;
}
.user-chaild p{
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    color: #1E1E1E;
    margin: 0px 0 24px 0;
}
.avater img{
    width: 40px;
    height: 40px;
    border-radius: 999px;
}
.avater-contant{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
}
.avater-contant h6{
    font-size: 16px;
    color: #757575;
    font-weight: 600;
    font-family: 'Raleway';
    font-style: normal;
}
.avater-contant p{
    font-size: 10px;
    color: #757575;
    font-weight: 400;
    font-family: 'Raleway';
    font-style: normal;
}
.avater-info{
    display: flex;
    gap: 16px;
    align-items: stretch;
}

/* <!-- Ready to focus better section --> */
.focus{
    background-color: #FFFFFF;
    padding: 70px 150px;
    text-align: center;
    display: flex;
    border-radius: 14px;
    margin-bottom: 80px;
}
.focus-container h3{
    font-size: 50px;
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 16px;
}
.focus-container p{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 24px;
}
.focus-img img{
    width: 100%;
    border-radius: 48px;
    margin-top: 24px;
}

/* form section */
.form-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.form-title{
    width: 50%;
}
.form-title h3{
    font-size: 100px;
    font-family: "Raleway";
    color: #000000;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: normal;
}
.form-aciont, .deco{
    padding: 16px;
    color: #000000;
    font-size: 16px;
    font-family: "Raleway";
}
.form-aciont{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 24px;
}


/* footer section */

.footer-bg{
    background-color: #FFFFFF;
    padding: 80px 0;
}
.footer-column{
    text-align: center;
    margin: 0 400px;
}
.footer-column h3{
    font-size: 100px;
    font-family: "Raleway";
    color: #4E47FF;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: normal;
}
.footer-column p{
    color: #8987A1;
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin-bottom: 10px;
}
.footer-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.footer-info a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-family: "Raleway";
    line-height: normal;
}
